<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/Flogo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800%7CRubik:300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-top">
                <div class="preloader-top-sun"><img src="images/Flogo.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header page-header-1 context-dark">
            <div class="page-header-1-figure m-parallax">
                <div class="page-header-1-image m-parallax-image" style="background-image: url(images/bg-image-1.jpg);">
                </div>
            </div>
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                    data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark"
                                            src="images/logo3.png" alt="" width="149" height="50"
                                            srcset="images/logo3.png 2x" /><img class="brand-logo-light"
                                            src="images/logo3.png" alt="" width="146" height="50"
                                            srcset="images/logo3.png 2x" /></a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/">Home</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/about">About Us</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/event">Events</a>
                                        <!-- RD Navbar Dropdown-->
                                        {{!-- <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="single-event.html">Single Event</a></li>
                                        </ul> --}}
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">contact Us</a>
                                    </li>
                                    {{!-- <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                                        <!-- RD Navbar Megamenu-->
                                        <ul class="rd-menu rd-navbar-megamenu">
                                            <li class="rd-megamenu-item">
                                                <p class="rd-megamenu-title">Elements</p>
                                                <div class="rd-megamenu-block">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="typography.html">Typography</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="buttons.html">Buttons</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="forms.html">Forms</a></li>
                                                    </ul>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="icon-lists.html">Icon Lists</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="counters-and-accordions.html">Counters &amp;
                                                                Accordions</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <p class="rd-megamenu-title">Pages</p>
                                                <div class="rd-megamenu-block">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="gallery.html">Gallery</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="our-team.html">Our
                                                                Team</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="testimonials.html">Testimonials</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="contact-us.html">Contact Us</a></li>
                                                    </ul>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="404-page.html">404
                                                                Page</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="coming-soon.html">Coming Soon</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="privacy-policy.html">Privacy policy</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="search-results.html">Search results</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> --}}
                                    {{!-- <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-post.html">Blog
                                                    post</a></li>
                                        </ul>
                                    </li> --}}
                                </ul>
                            </div>
                            <div class="rd-navbar-collapse-outer context-light">
                                <button class="rd-navbar-collapse-toggle"
                                    data-multitoggle="#rd-navbar-collapse, #toggle-inner"><span
                                        class="rd-navbar-collapse-toggle-element"
                                        id="toggle-inner"><span></span></span><span
                                        class="rd-navbar-collapse-toggle-text">More</span></button>
                                <div class="rd-navbar-collapse" id="rd-navbar-collapse">
                                    <button class="rd-navbar-collapse-close"
                                        data-multitoggle="#rd-navbar-collapse"><span
                                            class="rd-navbar-collapse-toggle-element active"><span></span></span></button>
                                    <h4 class="font-weight-sbold">Address & Phone</h4>
                                    <h5 class="ls-1">Shop No. 4, Jai Prakash Nagar Adhartal, Jabalpur 482004</h5>
                                    <h5 class="ls-1"><a href="tel:+91-8839698959">+91-8839698959</a></h5>
                                    <div class="divider divider-small"></div>
                                    <h4 class="font-weight-sbold">Our Portfolio</h4>
                                    <!-- Owl Carousel-->
                                    <div class="owl-carousel owl-carousel-tour-minimal" data-items="1" data-dots="true"
                                        data-nav="false" data-auto-width="true" data-loop="true" data-margin="20px"
                                        data-sm-margin="0px" data-autoplay="4000" data-mouse-drag="false">
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-1-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Corporate
                                                                Events</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-2-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Weddings</a>
                                                        </h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-3-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Birthdays and
                                                                Parties</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-4-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Private
                                                                Events</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div><a class="button button-default-outline" href="/gallery">View Gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-placeholder"></div>
                </nav>
            </div>
            <section class="breadcrumbs-custom">
                <div class="breadcrumbs-custom-inner">
                    <div class="container">
                        <div class="breadcrumbs-custom-main m-parallax-content">
                            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                                <path
                                    d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7"
                                    stroke-width="1.98" stroke-miterlimit="10"></path>
                            </svg>
                            <h2 class="breadcrumbs-custom-title">About Us</h2>
                            <p class="big">We are a full service event management company offering turn key event
                                planning and event production services for B2B corporate events across all industries.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <!-- Basic Info-->
        <section class="section section-lg bg-image" style="background-image: url(images/about-bg-1-1921x654.jpg);">
            <div class="container">
                <div class="row row-50 justify-content-center align-items-center">
                    <div class="col-md-10 col-lg-7">
                        <h2 class="font-weight-bold text-primary block-1">We’ll make your next celebration very special!
                        </h2>
                        <div class="block-2 mt-20 mt-md-30 mt-lg-30">
                            <p class="ls-1">Boost Event Management is specialist in organizing all types of corporate
                                events from concept, design & planning to execution.
                                With 7 years experience, we are a guarantee for seamless event management.</p>
                            <p class="ls-1">WE ADVISE, WE DIRECT, WE CONSULT, WE PLAN, WE MANAGE, WE ORGANIZE, WE
                                CREATE, WE CO-ORDINATE… WE MAKE IT ALL HAPPEN! THE WAY YOU WANT IT TO HAPPEN,
                                EFFICIENTLY, EFFECTIVELY AND VERY SUCCESSFULLY!</p>
                        </div><a class="button button-top-1 button-lg button-icon button-icon-left button-primary"
                            href="/contact"><span class="icon mdi mdi-pencil"></span>Get In touch</a>
                    </div>
                    <div class="col-md-10 col-lg-5"></div>
                </div>
            </div>
        </section>
        <!-- Features-->
        <section class="section section-lg bg-gray-100 text-center text-sm-left">
            <div class="container">
                <ul class="list-group-1 row row-50">
                    <li class="col-sm-6 col-lg-3">
                        <article class="lg-1-item">
                            <div class="icon lg-1-item-icon linearicons-platter"></div>
                            <div class="lg-1-item-main">
                                <h4 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Wedding Event</h4>
                                <p>Boost Event offers those ever-so-important services related to weddings.</p>
                            </div>
                        </article>
                    </li>
                    <li class="col-sm-6 col-lg-3">
                        <article class="lg-1-item">
                            <div class="icon lg-1-item-icon linearicons-camera2"></div>
                            <div class="lg-1-item-main">
                                <h4 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Corporate Event</h4>
                                <p>At Boost Event we have the knowledge and experience to insure your success from
                                    business meetings to corporate events.</p>
                            </div>
                        </article>
                    </li>
                    <li class="col-sm-6 col-lg-3">
                        <article class="lg-1-item">
                            <div class="icon lg-1-item-icon linearicons-leaf"></div>
                            <div class="lg-1-item-main">
                                <h4 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Birthday Party</h4>
                                <p>Boost Event is a professional birthday party planner, offering complete event
                                    planning services for a birthday.</p>
                            </div>
                        </article>
                    </li>
                    <li class="col-sm-6 col-lg-3">
                        <article class="lg-1-item">
                            <div class="icon lg-1-item-icon linearicons-mic2"></div>
                            <div class="lg-1-item-main">
                                <h4 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Music Night</h4>
                                <p>Music events are some of the most exciting events to be a part of. It is easy to
                                    assume that it is all “rock and roll” and happens organically, but knowing how to
                                    plan a music event is key.
                                </p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="section section-lg bg-default text-center">
            <div class="container">
                <h2 class="font-weight-bold text-primary">What Clients Say About Us</h2>
                {{!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p> --}}
                <div
                    class="row row-30 row-md-50 offset-top-0 offset-top-80 justify-content-center justify-content-lg-start">
                    {{#each testimonial}}
                    <div class="col-md-6">
                        <!-- Quote Classic-->
                        <blockquote class="quote-classic">
                            <div class="quote-classic-inner">
                                <div class="quote-classic-header">
                                    <div class="quote-classic-profile"><img class="quote-classic-avatar"
                                            src="images/testimonials-1-84x84.jpg" alt="" width="84" height="84" />
                                        <cite class="quote-classic-cite heading-4">{{this.name}}</cite>
                                    </div>
                                    <div class="quote-classic-links"><a
                                            class="quote-classic-social-link mdi mdi-facebook" href="#"></a>
                                    </div>
                                </div>
                                <div class="quote-classic-text">
                                    <p>{{this.message}}</p>
                                </div>
                                <time class="quote-classic-time" datetime="2019">{{this.date}}</time>
                            </div>
                        </blockquote>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <!-- Get in Touch-->
        <section class="section section-lg bg-gray-100">
            <div class="container">
                <h2 class="font-weight-bold text-primary">Give your review</h2>
                {{#if err }}
                <h6 class="font-weight-bold text-danger">{{err}}</h6>
                {{/if}}
                {{#if msg }}
                <h6 class="font-weight-bold text-success">{{msg}}</h6>
                {{/if}}
                <!-- RD Mail form-->
                <form class="rd-form rd-mailform form-lg" method="post" action="/addReview">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="row row-30">
                        <div class="col-lg-4">
                            <div class="form-wrap form-wrap-icon">
                                <input class="form-input" id="contact-name" type="text" name="name"
                                    data-constraints="@Required">
                                <label class="form-label" for="contact-name">Name</label>
                                <div class="icon form-icon mdi mdi-account-outline text-primary"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-wrap form-wrap-icon">
                                <input class="form-input" id="contact-email" type="date" name="date">
                                {{!-- <label class="form-label" for="contact-email">E-mail</label> --}}
                                <div class="icon form-icon mdi mdi-email-outline text-primary"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-wrap form-wrap-icon">
                                <label class="form-label" for="contact-message">Message</label>
                                <textarea class="form-input" id="contact-message" name="message"
                                    data-constraints="@Required"></textarea>
                                <div class="icon form-icon mdi mdi-message-outline text-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap form-wrap-button">
                        <button class="button button-lg button-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Page Footer-->
        {{>footer}}